<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="gtaxidbEntities" connectionString="metadata=res://*/entity.gtaxiModel.csdl|res://*/entity.gtaxiModel.ssdl|res://*/entity.gtaxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appstream.dyndns-wiki.com,1433;initial catalog=gtaxidb;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="gtaxidbEntities" connectionString="metadata=res://*/entity.gtaxiModel.csdl|res://*/entity.gtaxiModel.ssdl|res://*/entity.gtaxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N9CPGEB\MSSQLSERVER14;initial catalog=gtaxidb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>

  <appSettings>
    <add key="AndroidServerApiKey" value="AIzaSyAnzHnccJyYYP1MDSUfYl80hsm-bkickNk" />
    <add key="AppleCertPassword" value="GentingTaxi#2015" />
    <add key="AppleCertDevLocation" value="~/Resources/devkey.p12" />
    <add key="AppleCertProdLocation" value="~/Resources/key.p12" />
    <!--Add here other configurations-->
  </appSettings>
</configuration>
